a {
    text-decoration: none;
    color: #fff;
}
.container {
    width: 100%;
    margin: auto;
}


.navbar {
    display: flex;
    /* padding-top: 50px; */
    box-shadow: 1px 5px 10px 1px rgb(90, 90, 90);

}

.navbar-menu {
    width: 100%;
height: 58px;
background-color: #6BB700;
margin-top: 120px;
}

.navbar-logo {
    width: 400px;
    height: 200px;
    position: absolute;
    margin-left: 10%;
    margin-top: 45px;
    box-shadow: 1px 5px 10px 1px rgb(90, 90, 90)
}

.navbar-list  .navbar-item:not(:last-child) {
    align-items: center;
}

.bl {
    border-left: 2px solid rgb(255, 255, 255);
}
.br {
    border-right: 2px solid rgb(255, 255, 255);
}
.navbar-list {
    padding-left: 629px;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
}

.navbar-item-link {
    opacity: .7;
    font-weight: bold;
}

.navbar-item-link-jobs {
    font-size: 13px;
    font-weight: bold;
    opacity: .7;
}

.navbar-item-link-jobs:hover {
    opacity: 1;
}

.navbar-item-link:hover {
    opacity: 1;
}

.navbar-item {
    display: inline;
    text-align: center;
    padding: 20px;
    align-items: center;


}




.contact {
    display: flex;
    position: absolute;
    margin-top: 75px;
    margin-left: 715px;
    margin-bottom: 22px;
} 


.contact-number1 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 600;
    margin-top: 10px;

}



.header-title {
    margin-top: 100px;
}



/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width:1354px){
    .navbar-logo {
        margin-left: 30px;
    }
    .navbar-list {
        padding-left: 445px;;
    }
.contact {
    margin-left: 463px;
}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-logo {
        margin-left: 0.5%;
        width: 285px;
height: 185px;
    }
    .navbar-list {
        padding-left: 30%;
        font-size: 15px;
    }
.contact {
    margin-left: 32%;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-logo {
        width: 30%;
        margin-left: 10px;
    }
    .navbar-list {
        padding-left: 31%;
        margin-top: 21px;
        font-size: 12px;
        line-height: 14px;
    }
.contact {
    margin-top: 190px;
    margin-left: 32%;
}
.dnone768 {
    display: none;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .navbar {
        padding-top: 155px;
    }
    .navbar-main {
        background: #6BB700;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .navbar-logo {
        right: 0px;
        left: 0px;    
    margin: 0 auto;
    top: 2%;
    width: 360px;
    height: 170px;
}
    .navbar-item {
        margin-top: -4px;
    }
    .navbar-menu {
        background: #65961F;
        margin-top: 46px;
margin-bottom: 53px;
    }
    .contact {
        margin-left: 30px;
        margin-top: 261px;
    }
.navbar-list {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 13px;
line-height: 15px;
display: flex;
justify-content: center;
padding-left: 0px;
}
.dnone768 {
    display: none;
}
.contact-number1 {
    font-size: 15px;
line-height: 14px;
}
.navbar-item a {
    padding-left: 0px;

}
.navbar-list .navbar-item:not(:last-child) {
    border: none;
}
}
/* Portrait phones and smaller */
@media (max-width: 488px) {
    .navbar-list {
        font-size: 10.5px;
        margin-left: 10px;
    }
    .navbar-item {
        padding-left: 0px;
    }
    .contact-number1 {
        margin-left: -18px;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 9px;
    }
    .contact {
        display: grid;
    }
    .contact-phone {
        margin-top: 10px;
        margin-left: -23px;
    } 
    .navbar-logo {
        width: 329px;
    }
}

/* Iphone 5 */
@media (max-width: 330px) {
    .navbar-list {
        font-size: 9px;
        margin-left: 10px;
    }
    .contact {
        display: grid;
    }
    .contact-number1 {
        margin-left: -18px;
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 9px;
    }
.navbar-logo {
    width: 300px;
}
}

